
header {
    border-bottom-style: solid;
    border-bottom-color: black;
    background-color: burlywood;
}
#logo {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
}
#mainh {
    text-align: center;
}
#placeholder {
    width: 100px;
    height: 100px;
}
header ul {
    list-style: none;
    margin-left: 80%;
}
footer ul {
    list-style: none;
    margin-left: 80%;
}

footer {
    border-top: black;
    border-top-style: solid;
    background-color: burlywood;
}